#search-results-list img {
    max-width: 150px; /* Обмежуємо ширину зображення */
    max-height: 150px; /* Обмежуємо висоту зображення */
    width: auto; /* Дозволяємо автоматично зберігати пропорції */
    height: auto; /* Дозволяємо автоматично зберігати пропорції */
    object-fit: cover; /* Зберігаємо пропорції і заповнюємо контейнер */
    margin-right: 10px; /* Відступ від тексту */
}
